@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/CircularStd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CircularStd-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/CircularStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CircularStd-Black.otf') format('opentype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Style the track (the container) */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Style the thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #bbb;
  }

  /* Style the track on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  ::-webkit-scrollbar-track {
    background: #ddd;
  }
}
